<form action="/new" method="post">
  <label for="">Name</label>
  <input type="text" name="name" id="" value="" />

  <label for="">Description</label>
  <input type="text" name="description" id="" value="" />

  <label for="">Location</label>
  <input type="text" name="location" id="" value="" />


  <input type="submit" name="" id="" value="Add a meetup!" />
</form>
