<form action="/new" method="post">
  <label for="">Name</label>
  <div class = "form">
    <input type="text" name="name" id="" value="" />
  </div>
  <br>
  <label for="">Description</label>
  <div class = "form">
    <input type="text" name="description" id="" value="" />
  </div>
  <br>
  <label for="">Location</label>
  <div class = "form">
    <input type="text" name="location" id="" value="" />
    <br>
    <br>
    <input type="submit" name="" id="" value="Add a meetup!" />
  </div>
</form>
